// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
// Gradients
@mixin blue-grad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00486f+1,0077ba+100&1+0,0+100 */
	background: -moz-linear-gradient(left, rgba(0,72,111,1) 0%, rgba(0,72,111,0.99) 1%, rgba(0,119,186,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,72,111,1) 0%,rgba(0,72,111,0.99) 1%,rgba(0,119,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,72,111,1) 0%,rgba(0,72,111,0.99) 1%,rgba(0,119,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00486f', endColorstr='#000077ba',GradientType=0 ); /* IE6-9 */
}
@mixin blue-grad-vert {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00486f+1,0077ba+100&1+0,0+100 */
	background: -moz-linear-gradient(top, rgba(0,72,111,1) 0%, rgba(0,72,111,0.99) 1%, rgba(0,119,186,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,72,111,1) 0%,rgba(0,72,111,0.99) 1%,rgba(0,119,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,72,111,1) 0%,rgba(0,72,111,0.99) 1%,rgba(0,119,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00486f', endColorstr='#000077ba',GradientType=0 ); /* IE6-9 */
}
@mixin orange-grad {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8b00+1,ffba00+100&1+0,0+100 */
	background: -moz-linear-gradient(left, rgba(255,139,0,1) 0%, rgba(255,139,0,0.99) 1%, rgba(255,186,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,139,0,1) 0%,rgba(255,139,0,0.99) 1%,rgba(255,186,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,139,0,1) 0%,rgba(255,139,0,0.99) 1%,rgba(255,186,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8b00', endColorstr='#00ffba00',GradientType=0 ); /* IE6-9 */
}
@mixin orange-grad-reverse {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffba00+0,ff8b00+100&1+0,0+100 */
	background: -moz-linear-gradient(left, rgba(255,186,0,1) 0%, rgba(255,139,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,186,0,1) 0%,rgba(255,139,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,186,0,1) 0%,rgba(255,139,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba00', endColorstr='#00ff8b00',GradientType=1 ); /* IE6-9 */
}
