* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 90%;
		padding: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
#content {
	width: 100%;
	float: left;
}
.top-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 11;
	padding: 20px;
	margin: 0 auto;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: nowrap;
		justify-content: flex-end;
		padding: 10px 0px 10px 0 ;
		align-items: center;
	}
	@media screen and (min-width: $tabwidth) {
		width: 90%;
		padding: 10px 30px 10px 0 ;
	}
	.agentinfo, .socialheader {
		color: #fff;
		width: auto;
		position: relative;
		z-index: 12;
		line-height: 1;
		@media screen and (min-width: $tabwidth) {
			margin-left: 20px;
		}
		
	}
	.icon {
		width: auto;
		float: left;
		margin: 0 5px;
		a {
			color: #fff;
		}
		icon {
			transform: scale(.9);
			@include transition(all ease .2s);
			&:hover {
				ransform: scale(1);
			}
		}
	}
}
header#masthead {
	width: 100%;
	position: relative;
	z-index: 10;
	background-color: rgba(#fff, .8);
	@media screen and (min-width: $tabwidth) {
		height: 40px;
	}
	@media screen and (min-width: $deskwidth) {
		height: 70px;
	}
}
.flexnav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}
/* Logo */
.logo , h1.logo {
	width: 250px;
	// background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 200px;
		float: left;
		margin: -15px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 300px;
	}
}
.logo a, h1.logo a {
	
	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.blue-header {
	width: 100%;
	@include blue-grad;
	padding-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-bottom: 30px;
	}
	@media screen and (min-width: $deskwidth) {
		padding-bottom: 50px;
	}
}
#primary, .widget-area {
	margin: 40px 0 ;
}
.intro {
	width: 90%;
	margin: 0 auto;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {
		width: 70%;
	}
	.left, .right{
		width: 100%;
		margin: 0 0 20px 0;
	}
	.left {
		@media screen and (min-width: $tabwidth) {
			width: 30%;
			float: left;
		}
	}
	.right {
		@media screen and (min-width: $tabwidth) {
			width: 60%;
			float: right;
		}
	}
	.contact {
		font-size: 18px;
	}
}
.btn, .btn-full {
	text-align: center;
	text-transform: uppercase;
	a {
		color: #fff;
		display: block;
		@include orange-grad;
		@include transition(all ease .2s);
		&:hover {
			@include orange-grad-reverse;
		}
	}
}
.btn-full {
	width: 100%;
	a {
		padding: 10px 0;
	}
}
.btn {
	width: auto;
	float: right;
	a {
		padding: 10px 20px;
		transform: scale(1);
		&:hover {
			transform: scale(1.2);
		}
	}
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	@include orange-grad;
	box-shadow: none;
	border-radius: 0;
	border: 0;
	text-shadow: none;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	&:hover {
		box-shadow: none;
		@include orange-grad-reverse;
	}
}
.orange-grad {
	@include orange-grad;
}
.sidebar {
	@include blue-grad-vert;
	flex-basis: 100%;
	padding: 2%;
	color: #fff;
	@media screen and (min-width: $tabwidth) {
		flex-basis: 40%;
	}
	h2 {
		font: {
			size: 20px;
			weight: normal;
		}
		margin: 0 0 20px 0;
		text-transform: uppercase;
		@media screen and (min-width: $tabwidth) {
			font-size: 16px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 22px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		a {
			display: block;
			color: $color-yellow;
			padding: 3px;
			@include transition(all ease .3s);
			&:hover {
				background-color: rgba(#fff, .7);
				color: $color-dark-blue;
			}
		}
	}
}
footer.site-footer, section.property-alerts {
	width: 100%;
	clear: both;
	padding: 30px 0;
	@include blue-grad;
	.social {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		flex-direction: row;
		justify-content: center;
		margin: 30px auto;
		.icon {
			width: auto;
			margin: 0 10px;
			i {

			}
			a {
				color: #fff;
			}
		}
	}
	.footer-agents {
		width: 100%;
		color: #fff;
		text-align: center;
		font-size: 24px;
		margin: 30px 0;
		@media screen and (min-width: $tabwidth) {
			font-size: 18px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 24px;
		}
	}
	.signups {
		width: 100%;
		// display: flex;
		// flex-wrap: wrap;
		@media screen and (min-width: $tabwidth) {
			// flex-wrap: nowrap;
			// align-items: stretch;
		}
		.property-alerts{
			width: 100%;
			overflow: hidden;
			margin: 40px auto;
			clear: both;
			h2 {
				color: #fff;
				text-align: center;
				font-size: 20px;
			}
			@media screen and (min-width: $tabwidth) {
				width: 80%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 40%;
			}
		}
		.newsletter-signup {
			width: 100%;
			text-align: center;
			margin: 20px auto;
			@media screen and (min-width: $tabwidth) {
				width: 50%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 30%;
			}
			h2 {
				color: #fff;
				text-align: center;
				font-size: 20px;
			}
			@media screen and (min-width: $tabwidth) {
				// flex-basis: 50%
			}
			.ctct-form-defaults {
				padding: 0;
				color: #fff;
			}
			.ctct-form-custom {
				// display: flex; 
				// justify-content: space-between;
			}
			.ctct-form-embed.form_0 .ctct-form-defaults {
				background-color: rgba(#fff, 0);
			}
			.ctct-form-header, .ctct-form-footer {
				display: none;
			}
			.ctct-form-element,
			.ctct-form-button {
				padding: 10px;
				height: auto;
			}
			.ctct-form-text {
				color: #fff;
			}
		}
		.left {

		}
		.right {

		}
	}
	.bottom {
		width: 100%;
		text-align: center;
		a {
			color: #fff;
		}
	}
}
section.signups {
	.impress-lead-signup {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: nowrap;
			width: 100%;
			align-items: stretch;
		}
		@media screen and (min-width: $midwidth) {
			width: 100%;
		}
		@media screen and (min-width: $midwidth) {
			// width: 50%;
		}
		input, .idx-modal-shortcode-preview input {
			width: 24%;
			padding: 10px;
			font-size: 0.75rem;
			line-height: 1;
			margin: 0;
		}
		.ie-only {
			display: none;
		}
	}
}
