.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
// .entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.homebanner {
	width: 100%;
	position: relative;
	float: left;
	background-size: cover;
	z-index: 1;
	line-height: 0;
	img {
		width: 100%;
	}
	@media screen and (min-width: $tabwidth) {
		margin-top: -130px;
		// height: 100vh;
	}
	@media screen and (min-width: $midwidth) {
		margin-top: -130px;
	}
	@media screen and (min-width: $deskwidth) {
		margin-top: -130px;
	}
	.quicksearch-home {
		width: 100%;
		position: relative; 
		float: left;
		z-index: 10001;
		@media screen and (min-width: $midwidth) {
			width: 86%;
			position: absolute; 
			bottom: 80px;
			left: 7%;
		}
		h2 {
			display: none;
		}
		#IDX-quicksearch-8823 {
			width: 100%;
		}
		.IDX-quicksearchForm {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
			border: 1px solid #fff;
			border-radius: 0;
			flex-wrap: wrap;
			color: #fff;
			background-color: rgba(#000,.8);
			@media screen and (min-width: $tabwidth) {
				flex-wrap: nowrap;
			}
			@media screen and (min-width: $midwidth) {
				color: #fff;
				background-color: rgba(#000,0);

			}
			.IDX-quicksearchWrapper, #IDX-quicksearch-8823 {
				border: 0;
				box-shadow: none;
			}
			.IDX-qsLabel, IDX-qsInput IDX-qsTextInput {
				width: 100%;
				padding: 5px;
				margin: 0;
				text-align: left;
			}
			.IDX-qsTextInput {
				width: 100%;
			}
			
		}
		
	}
}
#IDX-quicksearch-8823 {
	box-shadow: none !important;
	border: 0 !important;
	label {
		margin: 5px 0 10px 0 !important;
	}
}

section.searchbox {
	background-color: rgba(#000, .8);
	color: #fff;
	text-align: center;
	padding: 20px 20px 20px 20px;
	width: 100%;
	position: relative;
	float: left;
	z-index: 20;
	line-height: 1;
	@media screen and (min-width: $midwidth) {
		position: absolute;
		bottom: 0;
		left: 5%;
		padding: 20px 20px 150px 20px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
	}
	h2, h3 {
		color: #fff;
		
		width: 100%;
		position: relative;
		z-index: 1000;
	}
	h2 {
		font-style: italic;
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}
	
}
.sections {
	h2 {
		font: {
			size: 24px;
			weight: normal;
		}
		text-transform: uppercase;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			font-size: 20px;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 30px;
		}
	}
}
section.featured-listings {
	width: 100%;
	position: relative;
	h2 {
		color: $color-dark-blue;
		text-align: center;
	}
	#IDX-showcaseGallery-8826 {
		width: 28%;
		max-width: 28%;
		.IDX-showcaseCell {
			border: 0;
			padding: 0;
			width: 28%;
			max-width: 28%;
			box-shadow: none;
			div {
				text-align: left;
			}
			.IDX-showcaseContainer {
				padding: 0;
			}
			.IDX-showcaseAddress,
			.IDX-showcaseCityStateZip,
			.IDX-showcasePrice
			{
				background-color: $color-light-grey;
				font-family: $font-heading;
			}
			.IDX-showcaseAddress,
			.IDX-showcaseCityStateZip {
				padding: 3px 10px;
				font-size: 18px;
			}
			.IDX-showcasePrice {
				font-size: 18px;
				font-weight: bold;
				padding: 10px;
			}
		}
	}
	
}

section.property-alerts {
	padding: 40px 0;
	@include blue-grad;
	text-align: center;
	h2 {
		color: #fff;
	}
	#LeadSignup {
		// width: 100%;
		border: 0;
		box-shadow: none;
	}
	.pa-form-wrapper {

	}
	.impress-lead-signup {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: nowrap;
			width: 100%;
			align-items: stretch;
		}
		@media screen and (min-width: $midwidth) {
			width: 100%;
		}
		@media screen and (min-width: $midwidth) {
			width: 50%;
		}
		input, .idx-modal-shortcode-preview input {
			width: 24%;
			padding: 10px;
			font-size: 0.75rem;
    		line-height: 1;
    		margin: 0;
		}
		.ie-only {
			display: none;
		}
	}
}
section.home-latest {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.left, .right {
		padding: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-basis: 100%;
		@media screen and (min-width: $tabwidth) {

		}
		.bottom {
			// align-self: flex-end;
		}
	}
	.left {
		@media screen and (min-width: $tabwidth) {
			flex-basis: 50%;
		}
	}
	.right {
		background-color: #F4F4F4;
		.photo {
			margin: 0 0 20px 0;
		}
		@media screen and (min-width: $tabwidth) {
			flex-basis: 50%;
		}
	}
}
section.about {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: $tabwidth) {
		flex-wrap: nowrap;
	}
	.about-image {
		width: 100%;
		margin: 0 0 30px 0;
		img {
			width: 100%;
		}
	}
	.cta-about {
		
		flex-basis: 100%;
		margin-top: 70px;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 35%;
		}
		.callout-box {
			padding: 5%;
			color: #fff;
			@include blue-grad-vert;
			@media screen and (min-width: $tabwidth) {
				padding: 10%;
			}
		}
		h2 {
			font: {
				size: 28px;
				weight: normal;
			}
			margin: 0 0 20px 0;
			text-transform: uppercase;
			@media screen and (min-width: $tabwidth) {
				font-size: 20px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 28px;
			}
		}
		.copy {
			width: 100%;
			margin: 0 0 30px 0;
		}
	}
	article.about {
		flex-basis: 100%;
		padding: 0;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 65%;
			padding-right: 5%;
		}
	}
	// for the single page
	.left {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 30%;
			float: left;
		}
		.single-info {

		}
	}
	.right {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			width: 65%;
			float: right;
		}

	}
}

section.agents {
	width: 100%;
	background-color: #F4F4F4;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 30px 0;
	@media screen and (min-width: $tabwidth) {

	}
	section.agent-wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		@media screen and (min-width: $tabwidth) {

		}
	}
	h2.a-section {
		text-align: center;
		color: $color-dark-blue;
		margin-bottom: 40px;
	}
	.agent {
		flex-basis: 100%;
		margin-bottom: 40px;
		background-color: #fff;
		@include transition(all ease .3s);
		@media screen and (min-width: $tabwidth) {
			flex-basis: 30%;
		}
		&:hover {
			@include boxshadow-hover;
		}
		h2 {
			text-align: center;
			margin: 0 0 0px 0;
			font-size: 20px;
			@media screen and (min-width: $tabwidth) {
				font-size: 16px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 20px;
			}
		}
		img {
			width: 100%;
		}
	}
	.info {
		width: 90%;
		// border-left: 5px solid $color-dark-blue;
		// padding-left: 15px;
		margin: 20px auto 20px auto;
		text-align: center;
	}
	.title {
		font-style: italic;
		@media screen and (min-width: $tabwidth) {

		}
	}
	.email {
		width: 100%;
		margin: 10px 0;
		display: none;
		@media screen and (min-width: $tabwidth) {
			display: block;
		}
	}
	.email-mobile {
		width: 100%;
		margin-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
	}
	.phone {
		width: 100%;
		margin-bottom: 10px;
	}
	.bio {
		width: 100%;

	}
}
.agent-sidebar {
	width: 100%;
	margin: 40px 0;
	clear: both;
	section.agent-wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		@media screen and (min-width: $tabwidth) {

		}
	}
	h2.a-section {
		text-align: center;
		color: $color-dark-blue;
		margin-bottom: 40px;
	}
	.agent {
		flex-basis: 100%;
		margin-bottom: 40px;
		background-color: #fff;
		overflow: hidden;
		border-bottom: 10px solid #eee;
		padding: 0 0 20px 0;
		@media screen and (min-width: $tabwidth) {
			// flex-basis: 30%;
		}
		.pic {
			width: 100%;
			float: left;
			line-height: 0;
			@media screen and (min-width: $tabwidth) {
				width: 30%;
			}
		}
		.agent-info {
			width: 100%;
			float: right;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			@media screen and (min-width: $tabwidth) {
				width: 60%;
			}
		}
		h2.agentl {
			text-align: left;
			margin: 10px 0 5px 0;
			font-size: 20px;
			color: $color-dark-blue;
			@media screen and (min-width: $tabwidth) {
				font-size: 16px;
			}
			@media screen and (min-width: $deskwidth) {
				font-size: 20px;
			}
		}
		img {
			width: 100%;
		}
	}
	.info {
		width: 96%;
		border-left: 5px solid $color-dark-blue;
		padding-left: 15px;
		margin: 10px 0 20px 0;
	}
	.email {
		width: 100%;
		margin-bottom: 5px;
		display: none;
		@media screen and (min-width: $tabwidth) {
			display: block;
		}
	}
	.email-mobile {
		width: 100%;
		margin-bottom: 5px;
		@media screen and (min-width: $tabwidth) {
			display: none;
		}
	}
	.phone {
		width: 100%;
		margin-bottom: 5px;
		color: $color-dark-blue;
	}
	.bio {
		width: 100%;

	}
	.bottom {
		align-self: flex-end;
	}
}
article.post {
	width: 100%;
	position: relative;
	margin: 0 0 30px 0;
	@include boxshadow;
	padding: 5%;
	overflow: hidden;
	@include transition(all ease .3s);
	&:hover {
		@include boxshadow-hover;
	}
	h2 {
		margin: 15px 0 15px 0;
		font:  {
			weight: normal;

		}
		color: $color-dark-blue;
		text-transform: uppercase;
	}
	.the-date {
		width: auto;
		background-color: #EDEDED;
		border-bottom: 2px solid #D6D7D8;
		padding: 5px 15px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.blogpost {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		.img {
			flex-basis: 100%;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 25%;
				margin-top: 20px;
			}
			img {
				width: 100%;
			}
		}
		.content {
			flex-basis: 100%;
			@media screen and (min-width: $tabwidth) {
				flex-basis:70%;
			}
		}
	}
}
.idxwrap {
	padding: 50px 0;
	width: 100%;
}